body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-timeline-item
{
  padding-bottom: 5px!important;
}

.filter-row .ant-card
{
  cursor: pointer;
}
.filter-row .ant-card.selected-filter
{
  border: 1px solid blue;
}

.App.filter-1 .scenario-1
{
  display: none;
}
.App.filter-2 .scenario-0
{
  display: none;
}
